<% if params[:country_name] %>
	<%= content_for :title, "Upcoming hackathons in " + params[:country_name].capitalize + " @ We Love Hackathons" %>
<% elsif params[:tag] %>
	<%= content_for :title, "Upcoming hackathons tagged with " + params[:tag].capitalize + " @ We Love Hackathons" %>
<% else %>
	<%= content_for :title, "Do you love hackathons? We Love Hackathons" %>
<% end %>
<%= content_for :description, "The best place on the web to find out all about upcoming hackathons in your area. List your hackathons. Be notified by email when new hackathons are listed." %>

<div class="col-md-3">
	<!-- <div class="well"> -->
			<% @hackathons.each do |hackathon| %>
				<div class="well">
					  <a href="<%= hackathon_path(hackathon) %>">
					    <h4><%= hackathon.name %></h4>

					  </a>
					<div class="row">
						<div class="col-md-6">
					    <p>
					    	<strong>City: </strong><%= hackathon.city %><br>
					    	<strong>Starts: </strong><%= hackathon.start_date.strftime('%d %B %Y') %>
					    </p>
					  </div>
					  <div class="col-md-6">
					  	<%= cl_image_tag(hackathon.logo, width: '100px', class: 'list-logo') if hackathon.logo %>
					  </div>
					</div>
				</div>
			<% end %>
		<div class="well">
			<%= link_to "Add your hackathon", new_hackathon_path, class: 'btn btn-primary btn-block' %>
		</div>
	
</div>
<div class="col-md-7">
	<div class="well">
		<div id="multi_markers" style='width: 100%; height: 400px;'></div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="well">
				<h4>Filter by country</h4>
				<% @hackathon_countries.each do |hackathon_country| %>
					<a href="/<%= ISO3166::Country[hackathon_country] %>" class=""><%= ISO3166::Country[hackathon_country] %></a> <span class="label"><%= Hackathon.where(country: hackathon_country).count %></span>&nbsp;
					
				<% end %>
				<br>
				<%= link_to 'ALL HACKATHONS', root_path, class: 'btn btn-primary btn-xs' %>
			</div>
		</div>
		<div class="col-md-6">

			<div class="well">
				<h4>Filter by tags</h4>
				<% @tags.most_used.each do |tag| %>
					<%= link_to tag.name.capitalize, root_path(tag: tag.name) %> <span class="label"><%= tag.taggings_count %></span>&nbsp;
					
				<% end %>
				<br>
				<%= link_to 'ALL HACKATHONS', root_path, class: 'btn btn-primary btn-xs' %>
			</div>
		</div>
	</div>
</div>